#ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: red;*/
}

#details {
    border: 1px solid;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    /*background-color: ;*/
}

#contanier {
    display: flex;
    justify-content: space-around;
    align-items: center;
}